@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
	width: 100%;
	min-height: 100vh;
	color: #ffffff;
	background-color: #161616;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	padding: 0;
	margin: 0;
}
button{
	border: none;
	outline: none;
}
input, textarea{
  border: none;
  outline: none;
  background-color: transparent;
}
.el-popup-parent--hidden{
    overflow: hidden;
}
.hide-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
    width: 0 !important;
}
/*文本省略——单行*/
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
